<html>
    <head>
        <title>Hotel</title>
        <h1><b>welcome to Royal Resort</b></h1>
    </head>
    <body>
        <form>
            <h2>Booking details</h2>
            Check IN<input type="date" name="end_date">Check Out<input type="date" name="start_date"><br>
            Room Type:<br>
            <input type="checkbox" id="idac" name="ac" value="Air Condition">
            <label for="ac">Air condition</label><br>
            <input type="checkbox" id="idnonac" name="nonac" value="Non Air Condition">
            <label for="ac"> without Air condition</label><br>
            <br><br>
            <h2>Personal details</h2><br>
            Name:<input type="text" name="c_name" alt="your name"><br>
            Father Name:<input type="text" name="f_name" alt="your father name"><br>
            Age: <input type="number" name="c_age" alt="your age"><br>
            Email: <input type="number" name="c_email" alt="your email"><br>
            Mobile Number: <input type="number" name="c_mobnum" alt="your Mobile Number"><br>  
            Aadhar Card Number: <input type="number" name="c_aadharnum" alt="your Aadhar Card Number"><br> 
            Address<input type="text" name="c_address" alt="your address">
            <h2></h2>
        </form>
    </body>
</html>