<html>
    <head>
        <title>Hotel</title>
        <h1><b>welcome to Royal Resort</b></h1>
    </head>
    <body>
        <form action="/create" method="POST">
            <button>Create</button><br>
        </form>
        <form action="/read" method="POST">
            <button>Read</button><br>
        </form>
        <form action="/update" method="POST">
            <button>Update</button><br>
        </form>
        <form action="/delete" method="POST">
            <button>Delete</button><br>
        </form>
    </body>
</html>

